<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns="http://java.sun.com/xml/ns/javaee" 
    xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
    id="WebApp_ID" 
    version="2.5">
  <display-name>JJLserve</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>loginServlet</display-name>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>com.xy.servlet.android.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>registerServlet</display-name>
    <servlet-name>registerServlet</servlet-name>
    <servlet-class>com.xy.servlet.android.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerServlet</servlet-name>
    <url-pattern>/registerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>imageUploadServlet</display-name>
    <servlet-name>imageUploadServlet</servlet-name>
    <servlet-class>com.xy.servlet.android.ImageUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>imageUploadServlet</servlet-name>
    <url-pattern>/imageUploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>imageDownloadServlet</display-name>
    <servlet-name>imageDownloadServlet</servlet-name>
    <servlet-class>com.xy.servlet.android.ImageDownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>imageDownloadServlet</servlet-name>
    <url-pattern>/imageDownloadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>mediaServlet</display-name>
    <servlet-name>mediaServlet</servlet-name>
    <servlet-class>com.xy.servlet.android.MediaServelt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mediaServlet</servlet-name>
    <url-pattern>/mediaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>uploadFileServlet</display-name>
    <servlet-name>uploadFileServlet</servlet-name>
    <servlet-class>com.xy.servlet.android.UploadFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>uploadFileServlet</servlet-name>
    <url-pattern>/uploadFileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>nameListServlet</display-name>
    <servlet-name>nameListServlet</servlet-name>
    <servlet-class>com.xy.servlet.android.NameListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>nameListServlet</servlet-name>
    <url-pattern>/nameListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>personalDetailServlet</display-name>
    <servlet-name>personalDetailServlet</servlet-name>
    <servlet-class>com.xy.servlet.android.PersonalDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>personalDetailServlet</servlet-name>
    <url-pattern>/personalDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>changePasswordServlet</display-name>
    <servlet-name>changePasswordServlet</servlet-name>
    <servlet-class>com.xy.servlet.android.ChangePasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>changePasswordServlet</servlet-name>
    <url-pattern>/changePasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>videoDetailServlet</display-name>
    <servlet-name>videoDetailServlet</servlet-name>
    <servlet-class>com.xy.servlet.android.VideoDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>videoDetailServlet</servlet-name>
    <url-pattern>/videoDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>imageDetailServlet</display-name>
    <servlet-name>imageDetailServlet</servlet-name>
    <servlet-class>com.xy.servlet.android.ImageDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>imageDetailServlet</servlet-name>
    <url-pattern>/imageDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateAPKServlet</display-name>
    <servlet-name>updateAPKServlet</servlet-name>
    <servlet-class>com.xy.servlet.android.UpdateAPKServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>BillQueryServlet</servlet-name>
    <servlet-class>com.xy.servlet.android.BillQueryServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ExceptionQueryServlet</servlet-name>
    <servlet-class>com.xy.servlet.android.ExceptionQueryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateAPKServlet</servlet-name>
    <url-pattern>/updateAPKServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BillQueryServlet</servlet-name>
    <url-pattern>/servlet/BillQueryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExceptionQueryServlet</servlet-name>
    <url-pattern>/servlet/ExceptionQueryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateBillServlet</display-name>
    <servlet-name>updateBillServlet</servlet-name>
    <servlet-class>com.xy.servlet.android.UpdateBillServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateBillServlet</servlet-name>
    <url-pattern>/updateBillServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateExceptionServlet</display-name>
    <servlet-name>updateExceptionServlet</servlet-name>
    <servlet-class>com.xy.servlet.android.UpdateExceptionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateExceptionServlet</servlet-name>
    <url-pattern>/updateExceptionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShopnameListServlet</display-name>
    <servlet-name>ShopnameListServlet</servlet-name>
    <servlet-class>com.xy.servlet.android.ShopnameListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShopnameListServlet</servlet-name>
    <url-pattern>/servlet/ShopnameListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateCharsServlet</display-name>
    <servlet-name>updateCharsServlet</servlet-name>
    <servlet-class>com.xy.servlet.android.UpdateCharsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateCharsServlet</servlet-name>
    <url-pattern>/updateCharsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AlipayQRServlet</servlet-name>
    <servlet-class>com.xy.servlet.android.AlipayQRServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlipayQRServlet</servlet-name>
    <url-pattern>/servlet/AlipayQRServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AlipayCallBackServlet</servlet-name>
    <servlet-class>com.xy.servlet.android.AlipayCallBackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlipayCallBackServlet</servlet-name>
    <url-pattern>/servlet/AlipayCallBackServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>WechatQRCodeServlet</servlet-name>
    <servlet-class>com.xy.servlet.android.WechatQRCodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WechatQRCodeServlet</servlet-name>
    <url-pattern>/servlet/WechatQRCodeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>WechatCallBackServlet</servlet-name>
    <servlet-class>com.xy.servlet.android.WechatCallBackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WechatCallBackServlet</servlet-name>
    <url-pattern>/servlet/WechatCallBackServlet</url-pattern>
  </servlet-mapping>
   <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RegionListServlet</servlet-name>
    <servlet-class>com.xy.servlet.android.RegionListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegionListServlet</servlet-name>
    <url-pattern>/servlet/RegionListServlet</url-pattern>
  </servlet-mapping>
   <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetShopNameListServlet</servlet-name>
    <servlet-class>com.xy.servlet.android.GetShopNameListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetShopNameListServlet</servlet-name>
    <url-pattern>/servlet/GetShopNameListServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateAuthorityServlet</servlet-name>
    <servlet-class>com.xy.servlet.android.UpdateAuthorityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAuthorityServlet</servlet-name>
    <url-pattern>/servlet/UpdateAuthorityServlet</url-pattern>
  </servlet-mapping>
</web-app>